Repository FranciscoKloganB/vitesse-enterprise: changes, and which lint-staged commands are due for each by the changed paths.
All: pnpm lint:js, pnpm lint:imports, pnpm lint:prettier, pnpm lint:css, pnpm lint:md, imagemin-lint-staged

.lintstagedrc.json:

{
  "*.{js,jsx,ts,tsx}": ["pnpm lint:js", "pnpm lint:imports", "pnpm lint:prettier"],
  "*.vue": ["pnpm lint:css", "pnpm lint:js", "pnpm lint:imports", "pnpm lint:prettier"],
  "*.(s)?css": ["pnpm lint:css", "pnpm lint:prettier"],
  "*.md": ["pnpm lint:md"],
  "*.{png,jpeg,jpg,gif,svg}": ["imagemin-lint-staged"],
  "{!(package)*.json,*.code-snippets,.!(browserslist)*rc}": [
    "pnpm prettier --write --loglevel warn --parser json"
  ]
}

chore: bump dependencies - 20230202
  package.json
  pnpm-lock.yaml
Due: none

chore: install unplugin-vue-macros
  package.json
  pnpm-lock.yaml
  src/auto-imports.d.ts
  vite.config.ts
Due: pnpm lint:js, pnpm lint:imports, pnpm lint:prettier

refactor: rename hooks folder to composables
  src/App.vue
  src/core/components/TheFooter.vue
  src/core/composables/README.md
  src/core/composables/dark.ts
  src/core/composables/index.ts
Due: pnpm lint:js, pnpm lint:imports, pnpm lint:prettier, pnpm lint:css, pnpm lint:md

feat: add tsconfig for unplugin-vue-macros
  pnpm-lock.yaml
  tsconfig.json
  vite.config.ts
Due: pnpm lint:js, pnpm lint:imports, pnpm lint:prettier

chore: add auto-imports update
  src/auto-imports.d.ts
Due: pnpm lint:js, pnpm lint:imports, pnpm lint:prettier

chore: bump dependencies 20231602
  package.json
  pnpm-lock.yaml
Due: none

chore: bump dependencies 20231602 (#369)
  package.json
  pnpm-lock.yaml
Due: none

chore(20230301): bump dependencies
  package.json
  pnpm-lock.yaml
  src/auto-imports.d.ts
Due: pnpm lint:js, pnpm lint:imports, pnpm lint:prettier

chore(20230301): bump dependencies (#371)
  package.json
  pnpm-lock.yaml
  src/auto-imports.d.ts
Due: pnpm lint:js, pnpm lint:imports, pnpm lint:prettier

chore: bump dependencies 20230312
  package.json
  pnpm-lock.yaml
Due: none

chore: bump dependencies 20230312 (#372)
  package.json
  pnpm-lock.yaml
Due: none

chore: bump dependencies - 20230513
  package.json
  pnpm-lock.yaml
Due: none

chore: add auto-imports.d.ts update
  src/auto-imports.d.ts
Due: pnpm lint:js, pnpm lint:imports, pnpm lint:prettier

fix(workflows): hotfix - test matrix was wrong
  .github/workflows/tests-quick-checks.yml
  package.json
Due: none

chore: bump dependencies 20230710
  package.json
  pnpm-lock.yaml
Due: none

chore: bump dependencies 20230710 (#395)
  package.json
  pnpm-lock.yaml
Due: none

chore: bump dependencies 20231013
  package.json
  pnpm-lock.yaml
Due: none

chore: bump dependencies 20231013 (#417)
  package.json
  pnpm-lock.yaml
Due: none
