Repository FranciscoKloganB/vitesse-enterprise: changes, and which lint-staged commands are due for each by the changed paths.
All: pnpm lint:js, pnpm lint:imports, pnpm lint:prettier, pnpm lint:css, pnpm lint:md, imagemin-lint-staged

revert: remove previous impl. of cypress
  cypress.json
  package.json
  pnpm-lock.yaml
  tests/common/cypress/fixtures/example.json
  tests/common/cypress/index.d.ts
  tests/common/cypress/plugins/index.ts
  tests/ct/.md
  tests/ct/TheFooter.spec.ts
  tests/ct/cypress/support/commands-ct.ts
  tests/ct/cypress/support/index.ts
  tests/e2e/.md
  tests/e2e/basic.spec.ts
  tests/e2e/cypress/support/commands-e2e.ts
  tests/e2e/cypress/support/index.ts
  tests/integration/.md
  tests/tsconfig.json
  tests/unit/.md
Due: pnpm lint:js, pnpm lint:imports, pnpm lint:prettier, pnpm lint:md

chore: deprecate node 14 official support
  .github/workflows/test.yml
  netlify.toml
Due: none

chore: add initial vitest config
  .github/workflows/test.yml
  package.json
  src/core/components/TheFooter.vue
  tsconfig.json
  vite.config.ts
Due: pnpm lint:js, pnpm lint:imports, pnpm lint:prettier, pnpm lint:css

chore: add vitest folder test structure
  test/integration/.md
  test/unit/.md
Due: pnpm lint:md

feat: add vitest
  .gitignore
  src/auto-imports.d.ts
  test/unit/basic.test.ts
  vite.config.ts
Due: pnpm lint:js, pnpm lint:imports, pnpm lint:prettier

chore: disable cypress temporarely
  .github/workflows/test.yml
  .husky/pre-push
Due: none

fix: vitest scripts
  .github/workflows/test.yml
  README.md
  netlify.toml
  package.json
Due: pnpm lint:md

chore: modify netlify.toml
  netlify.toml
Due: none

revert: re-add link to vercel
  README.md
Due: pnpm lint:md

feat(vitest): add vitest, disable cypress temporarely (#217)
  .github/workflows/test.yml
  .gitignore
  .husky/pre-push
  README.md
  cypress.json
  netlify.toml
  package.json
  pnpm-lock.yaml
  src/auto-imports.d.ts
  src/core/components/TheFooter.vue
  test/integration/.md
  test/unit/.md
  test/unit/basic.test.ts
  tests/common/cypress/fixtures/example.json
  tests/common/cypress/index.d.ts
  tests/common/cypress/plugins/index.ts
  tests/ct/.md
  tests/ct/TheFooter.spec.ts
  tests/ct/cypress/support/commands-ct.ts
  tests/ct/cypress/support/index.ts
  tests/e2e/.md
  tests/e2e/basic.spec.ts
  tests/e2e/cypress/support/commands-e2e.ts
  tests/e2e/cypress/support/index.ts
  tests/integration/.md
  tests/tsconfig.json
  tests/unit/.md
  tsconfig.json
  vite.config.ts
Due: pnpm lint:js, pnpm lint:imports, pnpm lint:prettier, pnpm lint:css, pnpm lint:md

chore: install cypress 10
  package.json
  pnpm-lock.yaml
Due: none

chore: scaffold example e2e ts tests
  .eslintignore
  .eslintrc.js
  cypress.config.ts
  cypress/e2e/advanced-examples/actions.cy.ts
  cypress/e2e/advanced-examples/aliasing.cy.ts
  cypress/e2e/advanced-examples/assertions.cy.ts
  cypress/e2e/advanced-examples/connectors.cy.ts
  cypress/e2e/advanced-examples/cookies.cy.ts
  cypress/e2e/advanced-examples/cypress_api.cy.ts
  cypress/e2e/advanced-examples/files.cy.ts
  cypress/e2e/advanced-examples/local_storage.cy.ts
  cypress/e2e/advanced-examples/location.cy.ts
  cypress/e2e/advanced-examples/misc.cy.ts
  cypress/e2e/advanced-examples/navigation.cy.ts
  cypress/e2e/advanced-examples/network_requests.cy.ts
  cypress/e2e/advanced-examples/querying.cy.ts
  cypress/e2e/advanced-examples/spies_stubs_clocks.cy.ts
  cypress/e2e/advanced-examples/traversal.cy.ts
  cypress/e2e/advanced-examples/utilities.cy.ts
  cypress/e2e/advanced-examples/viewport.cy.ts
  cypress/e2e/advanced-examples/waiting.cy.ts
  cypress/e2e/advanced-examples/window.cy.ts
  cypress/e2e/getting-started/todo.cy.ts
  cypress/fixtures/example.json
  cypress/support/commands.ts
  cypress/support/e2e.ts
  cypress/tsconfig.json
Due: pnpm lint:js, pnpm lint:imports, pnpm lint:prettier

feat: reinstall cypress components
  .eslintignore
  cypress.config.ts
  cypress/component/TheFooter.cy.ts
  cypress/support/commands.ts
  cypress/support/component-index.html
  cypress/support/component.ts
  cypress/support/e2e.ts
  cypress/tsconfig.json
  package.json
Due: pnpm lint:js, pnpm lint:imports, pnpm lint:prettier

refactor: rename test:unit commands to test:vitest - includes unit and integration
  .github/workflows/test.yml
  .husky/pre-push
  README.md
  cypress/component/TheFooter.cy.ts
  cypress/fixtures/profile.json
  cypress/fixtures/users.json
  package.json
Due: pnpm lint:js, pnpm lint:imports, pnpm lint:prettier, pnpm lint:md

revert: reactivate cypress pipeline
  .github/workflows/test.yml
  package.json
  vite.config.ts
Due: pnpm lint:js, pnpm lint:imports, pnpm lint:prettier

feat(cypress): upgrade to cypress 10 plus structural perfectioning - pipeline issues (#218)
  .eslintignore
  .eslintrc.js
  .github/workflows/test.yml
  .husky/pre-push
  README.md
  cypress.config.ts
  cypress/component/TheFooter.cy.ts
  cypress/e2e/advanced-examples/actions.cy.ts
  cypress/e2e/advanced-examples/aliasing.cy.ts
  cypress/e2e/advanced-examples/assertions.cy.ts
  cypress/e2e/advanced-examples/connectors.cy.ts
  cypress/e2e/advanced-examples/cookies.cy.ts
  cypress/e2e/advanced-examples/cypress_api.cy.ts
  cypress/e2e/advanced-examples/files.cy.ts
  cypress/e2e/advanced-examples/local_storage.cy.ts
  cypress/e2e/advanced-examples/location.cy.ts
  cypress/e2e/advanced-examples/misc.cy.ts
  cypress/e2e/advanced-examples/navigation.cy.ts
  cypress/e2e/advanced-examples/network_requests.cy.ts
  cypress/e2e/advanced-examples/querying.cy.ts
  cypress/e2e/advanced-examples/spies_stubs_clocks.cy.ts
  cypress/e2e/advanced-examples/traversal.cy.ts
  cypress/e2e/advanced-examples/utilities.cy.ts
  cypress/e2e/advanced-examples/viewport.cy.ts
  cypress/e2e/advanced-examples/waiting.cy.ts
  cypress/e2e/advanced-examples/window.cy.ts
  cypress/e2e/getting-started/todo.cy.ts
  cypress/fixtures/example.json
  cypress/fixtures/profile.json
  cypress/fixtures/users.json
  cypress/support/commands.ts
  cypress/support/component-index.html
  cypress/support/component.ts
  cypress/support/e2e.ts
  cypress/tsconfig.json
  package.json
  pnpm-lock.yaml
  vite.config.ts
Due: pnpm lint:js, pnpm lint:imports, pnpm lint:prettier, pnpm lint:md

chore: re-add missing markdown docs
  cypress/component/.md
  cypress/e2e/.md
Due: pnpm lint:md

chore: add some cypress libs
  cypress/tsconfig.json
  package.json
  pnpm-lock.yaml
Due: none

chore: add new bt hook typing
  src/auto-imports.d.ts
Due: pnpm lint:js, pnpm lint:imports, pnpm lint:prettier

test: remove most examples
  cypress/component/TheFooter.cy.ts
  cypress/e2e/advanced-examples/actions.cy.ts
  cypress/e2e/advanced-examples/aliasing.cy.ts
  cypress/e2e/advanced-examples/assertions.cy.ts
  cypress/e2e/advanced-examples/connectors.cy.ts
  cypress/e2e/advanced-examples/cookies.cy.ts
  cypress/e2e/advanced-examples/cypress_api.cy.ts
  cypress/e2e/advanced-examples/files.cy.ts
  cypress/e2e/advanced-examples/local_storage.cy.ts
  cypress/e2e/advanced-examples/location.cy.ts
  cypress/e2e/advanced-examples/misc.cy.ts
  cypress/e2e/advanced-examples/navigation.cy.ts
  cypress/e2e/advanced-examples/network_requests.cy.ts
  cypress/e2e/advanced-examples/querying.cy.ts
  cypress/e2e/advanced-examples/spies_stubs_clocks.cy.ts
  cypress/e2e/advanced-examples/traversal.cy.ts
  cypress/e2e/advanced-examples/utilities.cy.ts
  cypress/e2e/advanced-examples/viewport.cy.ts
  cypress/e2e/advanced-examples/waiting.cy.ts
  cypress/e2e/advanced-examples/window.cy.ts
  cypress/support/commands.ts
  src/core/components/TheFooter.vue
Due: pnpm lint:js, pnpm lint:imports, pnpm lint:prettier, pnpm lint:css

fix: typo in TheFooter.spec
  cypress/component/TheFooter.cy.ts
  package.json
  pnpm-lock.yaml
Due: pnpm lint:js, pnpm lint:imports, pnpm lint:prettier

chore: extended cypress config
  cypress.config.ts
  cypress/e2e/getting-started/todo.cy.ts
Due: pnpm lint:js, pnpm lint:imports, pnpm lint:prettier

fix: package.json
  package.json
Due: none

feat: add basic smoke test
  cypress.config.ts
  cypress/e2e/basic-smoke.cy.ts
Due: pnpm lint:js, pnpm lint:imports, pnpm lint:prettier

chore: bump dependencies
  cypress/tsconfig.json
  package.json
  pnpm-lock.yaml
Due: none

chore: fix some issues between vitest, vite and cypress ct
  .github/workflows/test.yml
  .husky/pre-push
  README.md
  cypress/support/commands.ts
  package.json
  pnpm-lock.yaml
  vite.config.ts
Due: pnpm lint:js, pnpm lint:imports, pnpm lint:prettier, pnpm lint:md

chore: run dependabot montly
  .github/dependabot.yml
  cypress/component/.md
  cypress/component/TheFooter.cy.ts
  cypress/e2e/basic-smoke.cy.ts
  test/component/.md
Due: pnpm lint:js, pnpm lint:imports, pnpm lint:prettier, pnpm lint:md

perf(cypress): adds more meaningful test examples (#229)
  .github/dependabot.yml
  .github/workflows/test.yml
  .husky/pre-push
  README.md
  cypress.config.ts
  cypress/component/.md
  cypress/component/TheFooter.cy.ts
  cypress/e2e/advanced-examples/actions.cy.ts
  cypress/e2e/advanced-examples/aliasing.cy.ts
  cypress/e2e/advanced-examples/assertions.cy.ts
  cypress/e2e/advanced-examples/connectors.cy.ts
  cypress/e2e/advanced-examples/cookies.cy.ts
  cypress/e2e/advanced-examples/cypress_api.cy.ts
  cypress/e2e/advanced-examples/files.cy.ts
  cypress/e2e/advanced-examples/local_storage.cy.ts
  cypress/e2e/advanced-examples/location.cy.ts
  cypress/e2e/advanced-examples/misc.cy.ts
  cypress/e2e/advanced-examples/navigation.cy.ts
  cypress/e2e/advanced-examples/network_requests.cy.ts
  cypress/e2e/advanced-examples/querying.cy.ts
  cypress/e2e/advanced-examples/spies_stubs_clocks.cy.ts
  cypress/e2e/advanced-examples/traversal.cy.ts
  cypress/e2e/advanced-examples/utilities.cy.ts
  cypress/e2e/advanced-examples/viewport.cy.ts
  cypress/e2e/advanced-examples/waiting.cy.ts
  cypress/e2e/advanced-examples/window.cy.ts
  cypress/e2e/basic-smoke.cy.ts
  cypress/e2e/getting-started/todo.cy.ts
  cypress/support/commands.ts
  cypress/tsconfig.json
  package.json
  pnpm-lock.yaml
  src/auto-imports.d.ts
  src/core/components/TheFooter.vue
  test/component/.md
  vite.config.ts
Due: pnpm lint:js, pnpm lint:imports, pnpm lint:prettier, pnpm lint:css, pnpm lint:md

chore: bump dependencies
  pnpm-lock.yaml
Due: none

refactor: use vite-plugin-vue-markdown
  README.md
  package.json
  pnpm-lock.yaml
  src/components.d.ts
  src/shims.d.ts
  vite.config.ts
Due: pnpm lint:js, pnpm lint:imports, pnpm lint:prettier, pnpm lint:md

chore: bump dependencies - last syn 24 june 22
  package.json
  pnpm-lock.yaml
Due: none

fix: readme typo in bullet list
  README.md
Due: pnpm lint:md

chore: bump dependencies - last synch 14 jul 2022
  package.json
  pnpm-lock.yaml
Due: none

chore: bump dependencies - last synch 14 jul 2022
  package.json
  pnpm-lock.yaml
  src/auto-imports.d.ts
Due: pnpm lint:js, pnpm lint:imports, pnpm lint:prettier

chore: synch with antfu/vitesse
  .dockerignore
  .github/workflows/test.yml
  Dockerfile
  README.md
  cypress.config.ts
  package.json
  pnpm-lock.yaml
  src/components.d.ts
  src/core/modules/i18n.ts
  src/core/modules/pinia.ts
  src/main.ts
  vite.config.ts
Due: pnpm lint:js, pnpm lint:imports, pnpm lint:prettier, pnpm lint:md

chore: bump dependencies - last syn 24 june 22
  README.md
  package.json
  pnpm-lock.yaml
Due: pnpm lint:md

chore: merge with main
  pnpm-lock.yaml
Due: none

Maintenance (#250)
  .dockerignore
  .github/workflows/test.yml
  Dockerfile
  README.md
  cypress.config.ts
  package.json
  pnpm-lock.yaml
  src/auto-imports.d.ts
  src/components.d.ts
  src/core/modules/i18n.ts
  src/core/modules/pinia.ts
  src/main.ts
  vite.config.ts
Due: pnpm lint:js, pnpm lint:imports, pnpm lint:prettier, pnpm lint:md

chore: ignore .npmrc on prettier
  .npmrc
  .prettierignore
  package.json
  pnpm-lock.yaml
Due: none

chore: ignore .npmrc on prettier (#251)
  .npmrc
  .prettierignore
  package.json
  pnpm-lock.yaml
Due: none

Path conditions:
  pnpm lint:js: (any of: *.{js,jsx,ts,tsx}) or (any of: *.vue)
  pnpm lint:imports: (any of: *.{js,jsx,ts,tsx}) or (any of: *.vue)
  pnpm lint:prettier: ((any of: *.{js,jsx,ts,tsx}) or (any of: *.vue)) or (any of: *.(s)?css)
  pnpm lint:css: (any of: *.vue) or (any of: *.(s)?css)
  pnpm lint:md: any of: *.md
  imagemin-lint-staged: any of: *.{png,jpeg,jpg,gif,svg}
