Repository FranciscoKloganB/vitesse-enterprise: changes, and which lint-staged commands are due for each by the changed paths.
All: pnpm lint:js, pnpm lint:imports, pnpm lint:prettier, pnpm lint:css, pnpm lint:md, imagemin-lint-staged

.lintstagedrc.json:

{
  "*.{js,jsx,ts,tsx}": ["pnpm lint:js", "pnpm lint:imports", "pnpm lint:prettier"],
  "*.vue": ["pnpm lint:css", "pnpm lint:js", "pnpm lint:imports", "pnpm lint:prettier"],
  "*.(s)?css": ["pnpm lint:css", "pnpm lint:prettier"],
  "*.md": ["pnpm lint:md"],
  "*.{png,jpeg,jpg,gif,svg}": ["imagemin-lint-staged"],
  "{!(package)*.json,*.code-snippets,.!(browserslist)*rc}": [
    "pnpm prettier --write --loglevel warn --parser json"
  ]
}

chore(package.json): bump dependencies
  package.json
  pnpm-lock.yaml
Due: none

refactor: replace prism with shiki for syntax highlighting
  README.md
  cypress/e2e/basic-smoke.cy.ts
  package.json
  pnpm-lock.yaml
  src/core/assets/styles/main.css
  src/core/assets/styles/markdown.css
  vite.config.ts
Due: pnpm lint:js, pnpm lint:imports, pnpm lint:prettier, pnpm lint:md

chore: install taze for dependency management
  package.json
  pnpm-lock.yaml
Due: none

chore: bump dependencies - last synch 30 jul 2022
  package.json
  pnpm-lock.yaml
Due: none

chore: update autoimport
  src/auto-imports.d.ts
Due: pnpm lint:js, pnpm lint:imports, pnpm lint:prettier

ci(test): build only SPA distr
  .github/workflows/test.yml
Due: none

chore: bump some deps
  package.json
  pnpm-lock.yaml
Due: none

feat: install taze
  package.json
  pnpm-lock.yaml
Due: none

feat: add taze commands
  package.json
Due: none

chore(package.json): bump dependencies one by one (#272)
  package.json
  pnpm-lock.yaml
Due: none

feat: bump prod dependencies successfully
  package.json
  pnpm-lock.yaml
  src/auto-imports.d.ts
Due: pnpm lint:js, pnpm lint:imports, pnpm lint:prettier

chore: bump additional devDependencies
  package.json
  pnpm-lock.yaml
Due: none

feat: bump prod dependencies successfully (#277)
  package.json
  pnpm-lock.yaml
  src/auto-imports.d.ts
Due: pnpm lint:js, pnpm lint:imports, pnpm lint:prettier

fix(test.yml): change script names
  .github/workflows/test.yml
Due: none

chore(package.json): update eslint and vite-plugin-inspect
  package.json
  pnpm-lock.yaml
Due: none

chore(package.json): update and pin the culprit: vite
  package.json
  pnpm-lock.yaml
Due: none

perf(package.json): prevent taze from touching vite
  package.json
Due: none

chore: bump more deps (#286)
  package.json
  pnpm-lock.yaml
Due: none

revert(test.yml): add cypress-io
  .github/workflows/test.yml
Due: none

revert(test.yml): add cypress-io (#287)
  .github/workflows/test.yml
Due: none

ci: add release workflow
  .github/workflows/release.yml
Due: none

refactor(ci workflows): rename test to main
  .github/workflows/main.yml
Due: none

ci: add workflows for quick and slow checks
  .github/workflows/tests-quick-checks.yml
  .github/workflows/tests-slow-checks.yml
Due: none

feat(ci): use split workflow
  .github/workflows/main.yml
Due: none

fix(ci): remove invocation to npm run format
  .github/workflows/tests-quick-checks.yml
Due: none

ci: call invocation to Cypress PNPM Patch commented in quick checks
  .github/workflows/tests-quick-checks.yml
Due: none

feat(ci): improved and splitted workflows for push, pr and merge (#288)
  .github/workflows/main.yml
  .github/workflows/release.yml
  .github/workflows/tests-quick-checks.yml
  .github/workflows/tests-slow-checks.yml
Due: none

fix(basic-smoke): add focus after getting input element, before typing on basic nav
  cypress/e2e/basic-smoke.cy.ts
Due: pnpm lint:js, pnpm lint:imports, pnpm lint:prettier

fix: add not detached assertion before typing
  cypress/e2e/basic-smoke.cy.ts
Due: pnpm lint:js, pnpm lint:imports, pnpm lint:prettier

chore: bump dependencies
  .commitlintrc.cjs
  .eslintrc.cjs
  .stylelintrc.cjs
  README.md
  package.json
  pnpm-lock.yaml
Due: pnpm lint:md

fix: add not detached assertion before typing (#291)
  .commitlintrc.cjs
  .eslintrc.cjs
  .stylelintrc.cjs
  README.md
  cypress/e2e/basic-smoke.cy.ts
  package.json
  pnpm-lock.yaml
Due: pnpm lint:js, pnpm lint:imports, pnpm lint:prettier, pnpm lint:md

chore: add @testing-library/cypress
  package.json
  pnpm-lock.yaml
Due: none

perf: tsconfig.json
  cypress/e2e/basic-smoke.cy.ts
  cypress/support/commands.ts
  cypress/tsconfig.json
Due: pnpm lint:js, pnpm lint:imports, pnpm lint:prettier

fix(basic-smoke): wait for input to be enabled before typing
  cypress/e2e/basic-smoke.cy.ts
Due: pnpm lint:js, pnpm lint:imports, pnpm lint:prettier

ci(cypress-e2e): still trying to figure out flakiness in Cypress E2E (#292)
  cypress/e2e/basic-smoke.cy.ts
  cypress/support/commands.ts
  cypress/tsconfig.json
  package.json
  pnpm-lock.yaml
Due: pnpm lint:js, pnpm lint:imports, pnpm lint:prettier

chore: bump dependencies - 06092022
  package.json
  pnpm-lock.yaml
Due: none

chore: bump dependencies - round 3 - 06092022
  package.json
  pnpm-lock.yaml
  src/auto-imports.d.ts
Due: pnpm lint:js, pnpm lint:imports, pnpm lint:prettier
