Repository FranciscoKloganB/vitesse-enterprise: changes, and which lint-staged commands are due for each by the changed paths.
All: pnpm lint:js, pnpm lint:imports, pnpm lint:prettier, pnpm lint:css, pnpm lint:md, imagemin-lint-staged

chore: bump dependencies - 140922
  package.json
  pnpm-lock.yaml
Due: none

chore: bump dependencies - 230922
  package.json
  pnpm-lock.yaml
Due: none

chore: bump dependencies - 201022
  package.json
  pnpm-lock.yaml
Due: none

refactor: remove netlify workaround since it now supports node16 and pnpm
  netlify.toml
Due: none

feat: install component previewer
  README.md
  package.json
  pnpm-lock.yaml
  src/auto-imports.d.ts
  src/main.ts
  tsconfig.json
Due: pnpm lint:js, pnpm lint:imports, pnpm lint:prettier, pnpm lint:md

chore: bump dependencies - 251022
  package.json
  pnpm-lock.yaml
Due: none

fix(vite): add Preview to configuration file
  src/auto-imports.d.ts
  vite.config.ts
Due: pnpm lint:js, pnpm lint:imports, pnpm lint:prettier

fix(netlify): no longer need to customize build dist in configuration file
  netlify.toml
Due: none

chore(basic-smoke): focus input field before typing
  cypress/e2e/basic-smoke.cy.ts
Due: pnpm lint:js, pnpm lint:imports, pnpm lint:prettier

chore: bump pnpm action setup to 2.2.4
  .github/workflows/release.yml
  .github/workflows/tests-quick-checks.yml
  .github/workflows/tests-slow-checks.yml
Due: none

chore: add wait command after type and enter
  cypress/e2e/basic-smoke.cy.ts
Due: pnpm lint:js, pnpm lint:imports, pnpm lint:prettier

chore: working on cypress again (#320)
  .github/workflows/release.yml
  .github/workflows/tests-quick-checks.yml
  .github/workflows/tests-slow-checks.yml
  cypress/e2e/basic-smoke.cy.ts
Due: pnpm lint:js, pnpm lint:imports, pnpm lint:prettier

chore: update deps 11152022
  package.json
  pnpm-lock.yaml
Due: none

chore: bump dependencies
  package.json
  pnpm-lock.yaml
  src/auto-imports.d.ts
Due: pnpm lint:js, pnpm lint:imports, pnpm lint:prettier

fix(basic-smoke): do not assert url as a chain of click
  cypress/e2e/basic-smoke.cy.ts
Due: pnpm lint:js, pnpm lint:imports, pnpm lint:prettier

refactor(cypress): use testing-library-cypress
  cypress/e2e/basic-smoke.cy.ts
  src/core/components/TheFooter.vue
Due: pnpm lint:js, pnpm lint:imports, pnpm lint:prettier, pnpm lint:css

ci(cypress): use development server
  .github/workflows/tests-slow-checks.yml
  cypress.config.ts
  cypress/e2e/basic-smoke.cy.ts
  cypress/support/commands.ts
  cypress/tsconfig.json
  package.json
  pnpm-lock.yaml
  src/core/pages/index.vue
Due: pnpm lint:js, pnpm lint:imports, pnpm lint:prettier, pnpm lint:css

chore: update deps 23 11 2022 (#331)
  .github/workflows/tests-slow-checks.yml
  cypress.config.ts
  cypress/e2e/basic-smoke.cy.ts
  cypress/support/commands.ts
  cypress/tsconfig.json
  package.json
  pnpm-lock.yaml
  src/auto-imports.d.ts
  src/core/components/TheFooter.vue
  src/core/pages/index.vue
Due: pnpm lint:js, pnpm lint:imports, pnpm lint:prettier, pnpm lint:css

chore: bump dependencies
  package.json
  pnpm-lock.yaml
Due: none

chore: bump major vueuse/head, plus minor vite and vitest
  package.json
  pnpm-lock.yaml
Due: none

chore: update deps 02 12 2022 (#342)
  package.json
  pnpm-lock.yaml
Due: none

Update user_story.md
  .github/ISSUE_TEMPLATE/user_story.md
Due: pnpm lint:md

chore: bump dependencies 20221206
  package.json
  pnpm-lock.yaml
Due: none

chore: bump dependencies 20221217, including major releases (cypress)
  .github/workflows/release.yml
  .github/workflows/tests-quick-checks.yml
  .github/workflows/tests-slow-checks.yml
  package.json
  pnpm-lock.yaml
  src/core/modules/pwa.ts
  vite.config.ts
Due: pnpm lint:js, pnpm lint:imports, pnpm lint:prettier

fix(tsconfig): add vite-plugin-pwa/client to types
  tsconfig.json
Due: none

chore: bump deps including majors 20221217 (#344)
  .github/workflows/release.yml
  .github/workflows/tests-quick-checks.yml
  .github/workflows/tests-slow-checks.yml
  package.json
  pnpm-lock.yaml
  src/core/modules/pwa.ts
  tsconfig.json
  vite.config.ts
Due: pnpm lint:js, pnpm lint:imports, pnpm lint:prettier

ci(slow-checks): use app preview instead of app dev commands for cypress
  .github/workflows/tests-slow-checks.yml
Due: none

chore: update readme
  README.md
Due: pnpm lint:md

chore: tests-quick-checks also uses CT v5
  .github/workflows/tests-quick-checks.yml
Due: none

fix(cypress): add alias to avoid detached
  cypress/e2e/basic-smoke.cy.ts
  cypress/support/commands.ts
Due: pnpm lint:js, pnpm lint:imports, pnpm lint:prettier

ci: attempt use build instead of dev for cypress 12 (#345)
  .github/workflows/tests-quick-checks.yml
  .github/workflows/tests-slow-checks.yml
  README.md
  cypress/e2e/basic-smoke.cy.ts
  cypress/support/commands.ts
Due: pnpm lint:js, pnpm lint:imports, pnpm lint:prettier, pnpm lint:md

chore: bump node from 16 to 18
  .eslintignore
  .github/workflows/release.yml
  .github/workflows/tests-quick-checks.yml
  .github/workflows/tests-slow-checks.yml
  .nvmrc
  .prettierignore
  Dockerfile
  README.md
  netlify.toml
  package.json
  vite.config.ts
Due: pnpm lint:js, pnpm lint:imports, pnpm lint:prettier, pnpm lint:md

chore: bump dependencies - 20222512
  package.json
  pnpm-lock.yaml
Due: none

chore: bump node from 16 to 18 (#346)
  .eslintignore
  .github/workflows/release.yml
  .github/workflows/tests-quick-checks.yml
  .github/workflows/tests-slow-checks.yml
  .nvmrc
  .prettierignore
  Dockerfile
  README.md
  netlify.toml
  package.json
  pnpm-lock.yaml
  vite.config.ts
Due: pnpm lint:js, pnpm lint:imports, pnpm lint:prettier, pnpm lint:md

chore: bump dependencies (#348)
  package.json
  pnpm-lock.yaml
Due: none

Remove duplicate entries from .gitignore
  .gitignore
Due: none

Remove duplicate entries from .gitignore (#358)
  .gitignore
Due: none

Path conditions:
  pnpm lint:js: (any of: *.{js,jsx,ts,tsx}) or (any of: *.vue)
  pnpm lint:imports: (any of: *.{js,jsx,ts,tsx}) or (any of: *.vue)
  pnpm lint:prettier: ((any of: *.{js,jsx,ts,tsx}) or (any of: *.vue)) or (any of: *.(s)?css)
  pnpm lint:css: (any of: *.vue) or (any of: *.(s)?css)
  pnpm lint:md: any of: *.md
  imagemin-lint-staged: any of: *.{png,jpeg,jpg,gif,svg}
